.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* پس‌زمینه برای کل صفحه */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

/* پس‌زمینه و سایه برای کارت‌های ورود و رزرو */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* رنگ دکمه‌ها */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* حاشیه‌ها و فاصله‌ها برای کارت‌ها */
.card-body {
    padding: 2rem;
}

/* زیباسازی فرم‌ها */
.form-group input, .form-group button {
    border-radius: 5px;
}

/* تنظیمات تیترها */
h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

